@charset "UTF-8";
header {
  max-width: 1440px;
  height: 6.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 160px;
  height: 55px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0 1.05rem;
}
header button {
  font-size: 0.6875rem;
  font-weight: 900;
  letter-spacing: 1px;
  height: 2.5rem;
  padding: 0 1.55rem;
  background: #024282;
}
header .buttons-container {
  display: flex;
  align-items: center;
}
header .select-wrapper {
  position: relative;
  color: #323232;
  overflow: hidden;
  width: 30px;
  height: 30px;
  font-size: 0.5625rem;
  border: 1px solid #323232;
  border-radius: 50%;
  margin-left: 0.5rem;
}
header .select-wrapper select {
  position: absolute;
  top: 0;
  left: 2px;
  border: 0px;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 50px;
}
header .select-wrapper select option {
  width: 30px;
}

section#hero {
  position: relative;
}
section#hero .img-container {
  position: relative;
  height: 550px;
  overflow: hidden;
  border-radius: 1.5625rem;
}
section#hero .img-background {
  position: absolute;
  bottom: -50px;
  transform: scaleX(-1);
  width: 100%;
  border-radius: 1.5625rem;
}
section#hero form {
  position: absolute;
  right: 40px;
  top: 130px;
  display: flex;
  flex-direction: column;
  width: 410px;
  border-radius: 1rem;
  padding: 0 2rem;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 24px -12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
section#hero form h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  color: #024282;
  margin: 2.5rem 0;
}
section#hero .input-container {
  position: relative;
}
section#hero .input-container + div {
  margin-top: 1.5625rem;
}
section#hero .input-container span {
  position: absolute;
  top: -8px;
  left: 18px;
  color: #024282;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0 0.25rem;
  background-color: #FFFFFF;
  z-index: 10;
}
section#hero input[type=text],
section#hero input[type=email],
section#hero input[type=tel] {
  height: 3.125rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 0.75rem;
  border: 1px solid #024282;
  border-radius: 0.65rem;
  transition: box-shadow 0.3s;
}
section#hero input[type=text]:-webkit-autofill, section#hero input[type=text]:-webkit-autofill:hover, section#hero input[type=text]:-webkit-autofill:focus,
section#hero input[type=email]:-webkit-autofill,
section#hero input[type=email]:-webkit-autofill:hover,
section#hero input[type=email]:-webkit-autofill:focus,
section#hero input[type=tel]:-webkit-autofill,
section#hero input[type=tel]:-webkit-autofill:hover,
section#hero input[type=tel]:-webkit-autofill:focus {
  box-shadow: inset 0 0 0px 9999px #FFFFFF;
  -webkit-box-shadow: inset 0 0 0px 9999px #FFFFFF;
}
section#hero input[type=text]:focus,
section#hero input[type=email]:focus,
section#hero input[type=tel]:focus {
  outline: none;
  box-shadow: 0 0 3px 0 #024282;
}
section#hero select {
  font-size: 0.75rem;
  font-weight: 800;
  color: #9AB3CD;
  height: 3.125rem;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 1.5625rem;
  border: 1px solid #024282;
  border-radius: 0.65rem;
  transition: box-shadow 0.3s;
}
section#hero select:focus {
  outline: none;
  box-shadow: 0 0 3px 0 #024282;
}
section#hero select option {
  font-size: 1rem;
}
section#hero .checkbox-container {
  display: block;
  position: relative;
  font-size: 0.75rem;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding-left: 26px;
  margin-top: 1.5625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section#hero .checkbox-container a {
  text-decoration: underline;
}
section#hero .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
section#hero .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #212121;
  transition: background 0.2s;
}
section#hero .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
section#hero .checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
section#hero .checkbox-container:hover input ~ .checkmark {
  background: #e6e6e6;
}
section#hero .checkbox-container input:checked ~ .checkmark {
  background-color: #024282;
}
section#hero .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
section#hero button[type=submit] {
  height: 3.125rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 1.5625rem 0 2.5rem;
  background: #C4161C;
}
section#hero .providers-container {
  width: 55%;
  margin-left: 2rem;
  margin-top: 2rem;
}
section#hero .providers-container p {
  font-size: 0.8125rem;
  font-weight: 600;
}
section#hero .square {
  height: 4.375rem;
  width: 6.25rem;
  background-color: #E8F4FF;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 2));
  }
}
section#hero .slider {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
}
section#hero .slider::before, section#hero .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 5;
}
section#hero .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
section#hero .slider::before {
  left: 0;
  top: 0;
}
section#hero .slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(150px * 6);
}
section#hero .slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

section#aboutUs {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#aboutUs .main-img-container {
  position: relative;
  max-width: 350px;
  max-height: 500px;
}
section#aboutUs .main-img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
section#aboutUs .secundary-img {
  max-width: 240px;
  max-height: 360px;
}
section#aboutUs article {
  max-width: 450px;
}
section#aboutUs article h1 {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  font-weight: 800;
  color: #024282;
  margin: 0.5rem 0 1.25rem;
}
section#aboutUs article .subtitle {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #212121;
}
section#aboutUs article .text {
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: #212121;
}
section#aboutUs ul {
  margin: 1rem 0 1rem 1.5rem;
  list-style: none;
}
section#aboutUs li {
  margin-top: 0.5rem;
}
section#aboutUs li::before {
  content: "•";
  color: var(--red-500);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
section#aboutUs button {
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 2px;
  height: 2.5rem;
  padding: 0 1.9rem;
  background-color: #C4161C;
}

section#services {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #002E5C;
}
section#services .services-carousel {
  margin-top: 150px;
  z-index: 2;
}
section#services .services-carousel h1 {
  font-size: 6.25rem;
  font-weight: 900;
  color: #002245;
}
section#services .services-carousel p {
  font-size: 0.9375rem;
  font-weight: 900;
  color: #FFFFFF;
  margin-left: 15px;
}
section#services .carousel-container {
  display: flex;
  align-items: center;
}
section#services .carousel-container input {
  display: none;
}
section#services .carousel-container label {
  color: #FFFFFF;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: #002245;
  border-radius: 0.5rem;
  transition: filter 0.2s;
}
section#services .carousel-container label:hover {
  filter: brightness(0.9);
}
section#services .slider-container {
  height: 550px;
  width: 1100px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}
section#services .slide-items {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300%;
  transition: top 0.5s;
}
section#services .img-container {
  position: relative;
  height: 33.3333333333%;
}
section#services .img-container img {
  max-width: 1100px;
  max-height: 500px;
  width: 100%;
  border-radius: 1rem;
}
section#services .img-container h1 {
  position: absolute;
  bottom: -18px;
  left: 10px;
  opacity: 0;
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFFFF;
  transition: opacity 1s ease-out 0.6s;
}
section#services #slide1:checked ~ .slider-container .slide-items {
  top: 0%;
}
section#services #slide1:checked ~ .slider-container .slide-items .img-container:nth-child(1) > h1 {
  opacity: 1;
}
section#services #slide2:checked ~ .slider-container .slide-items {
  top: -100%;
}
section#services #slide2:checked ~ .slider-container .slide-items .img-container:nth-child(2) > h1 {
  opacity: 1;
}
section#services #slide3:checked ~ .slider-container .slide-items {
  top: -200%;
}
section#services #slide3:checked ~ .slider-container .slide-items .img-container:nth-child(3) > h1 {
  opacity: 1;
}
section#services #slide1:checked ~ .arrows-container label:nth-child(2) {
  display: flex;
}
section#services #slide2:checked ~ .arrows-container label:nth-child(3) {
  display: flex;
}
section#services #slide3:checked ~ .arrows-container label:nth-child(1) {
  display: flex;
}
section#services #slide2:checked ~ .arrows-container label:nth-child(1) {
  display: flex;
}
section#services #slide3:checked ~ .arrows-container label:nth-child(2) {
  display: flex;
}
section#services #slide1:checked ~ .arrows-container label:nth-child(3) {
  display: flex;
}
section#services .arrows-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
section#services .clients-opinions {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
  margin-top: 2rem;
  z-index: 20;
}
section#services .clients-opinions h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #F4B60E;
  margin-bottom: 2rem;
}
section#services .clients-opinions > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section#services .main-avatar {
  margin-bottom: -60px;
}
section#services .opinion-container {
  max-width: 550px;
  padding: 5rem 2.5rem 2rem;
  border-radius: 1rem;
  background: #E8F4FF;
}
section#services .opinion-container p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #024282;
}
section#services .opinion-container .client-name {
  font-weight: 900;
  margin-top: 1rem;
}
section#services .wave-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  overflow: hidden;
  margin: -5px;
  z-index: 10;
}
section#services .wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  overflow: hidden;
  margin: -5px;
  z-index: 10;
}
section#services #dotted {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  width: 100%;
  background-image: url("../../public/img/grade.png");
}

section#blog {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}
section#blog .head {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
section#blog .head h1 {
  font-size: 1.5625rem;
  font-weight: 800;
  color: #024282;
}
section#blog .head h2 {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #C4161C;
}
section#blog .head p {
  font-size: 0.875rem;
  color: #212121;
}
section#blog .container {
  display: flex;
  margin-top: 3rem;
}
section#blog .main-column {
  flex: 1;
}
section#blog .main-column div {
  display: flex;
  align-items: center;
}
section#blog .main-column div + div {
  margin-top: 1.5rem;
}
section#blog .secondary-column {
  flex: 0 1 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#blog .blog-img-container {
  flex: 1 0 350px;
  height: 230px;
  border-radius: 1rem;
  overflow: hidden;
}
section#blog .blog-img-container img {
  border-radius: 1rem;
}
section#blog article {
  flex: 0 1 auto;
  margin-left: 1rem;
}
section#blog article time {
  font-size: 0.8125rem;
}
section#blog article h3 {
  font-size: 1.1875rem;
  font-weight: 800;
  color: #024282;
  margin: 0.75rem 0;
}
section#blog article p {
  font-size: 0.875rem;
  color: #212121;
}
section#blog article p.read-more {
  font-size: 0.6875rem;
  font-weight: 900;
  color: #C4161C;
  margin-top: 0.75rem;
}

footer {
  padding: 3.2rem 9rem;
  margin-top: 150px;
  background: #E8F4FF;
}
footer > div {
  display: flex;
  margin-top: 2rem;
}
footer .footer-column {
  margin-right: 5rem;
}
footer .footer-column h2 {
  font-size: 1.2rem;
  color: #002245;
}
footer .footer-column > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
footer .footer-column div + p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin-left: 1rem;
}
footer .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 0.5rem;
  background: #71A7D8;
  color: #FFFFFF;
}
footer .icon-container span {
  font-size: 20px;
  font-weight: 100;
}
footer .calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 36px;
  min-width: 36px;
  border-radius: 0.75rem;
  background: #FFFFFF;
  overflow: hidden;
}
footer .calendar-container > span {
  font-size: 11px;
  font-weight: 900;
}
footer .calendar-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px 0;
  background: #C4161C;
}
footer .calendar-container div span {
  font-size: 9px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #FFFFFF;
}
footer ul {
  margin-top: 1rem;
  list-style: none;
}
footer li {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
footer li::before {
  content: "•";
  color: #C4161C;
  font-weight: 700;
  display: inline-block;
  width: 1em;
}
footer strong {
  font-weight: 800;
}
footer .foot {
  align-items: center;
  justify-content: space-between;
}
footer .foot p {
  font-size: 10px;
  font-weight: 600;
}
footer .tier-logo {
  width: 36px;
  height: 36px;
}

button {
  color: #FFFFFF;
  border-radius: 0.5rem;
  transition: filter 0.2s;
}
button:hover {
  filter: brightness(0.9);
}

main {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 2rem; */
}

section + section {
  margin-top: 6.25rem;
}

/*# sourceMappingURL=index.css.map */
