@use '../utils/_variables';

section#aboutUs {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-img-container {
    position: relative;
  
    max-width: 350px;
    max-height: 500px;
    // height: 500px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    
      cursor: pointer;
    }
  }

  .secundary-img {
    max-width: 240px;
    max-height: 360px;
  }

  article {
    max-width: 450px;

    h1{
      font-size: 1.5625rem;
      line-height: 1.875rem;
      font-weight: 800;
      color: variables.$color-blue-500;
    
      margin: 0.5rem 0 1.25rem;
    }

    .subtitle {
      font-size: 0.8125rem;
      font-weight: variables.$font-semi-bold;
      color: variables.$color-black-500;
    }

    .text {
      font-size: 0.875rem;
      line-height: 1.5625rem;
      color: variables.$color-black-500;
    }
  }

  ul {
    margin: 1rem 0 1rem 1.5rem;
    list-style: none;
  }

  li {
    margin-top: 0.5rem;

    &::before {
      content: "\2022";
      color: var(--red-500);
      font-weight: bold;
      display: inline-block; 
      width: 1em;
    }
  }

  button {
    font-size: 0.75rem;
    font-weight: variables.$font-black;
    letter-spacing: 2px;

    height: 2.5rem;
    
    padding: 0 1.9rem;
    background-color: variables.$color-red-500;
  }
}