@use '../utils/_variables';

section#blog {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;

  .head {
    max-width: 550px;
    margin: 0 auto;
  
    text-align: center;

    h1 {
      font-size: 1.5625rem;
      font-weight: variables.$font-extra-bold;
      color: variables.$color-blue-500;
    }

    h2 {
      font-size: 0.8125rem;
      font-weight: variables.$font-bold;
      color: variables.$color-red-500;
    }

    p {
      font-size: 0.875rem;
      color: variables.$color-black-500;
    }
  }

  .container {
    display: flex;
    margin-top: 3rem;
  }

  .main-column {
    flex: 1;

    div {
      display: flex;
      align-items: center;

      & + div {
        margin-top: 1.5rem;
      }
    }
  }

  .secondary-column {
    flex: 0 1 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .blog-img-container {
    flex: 1 0 350px;
    height: 230px;
    border-radius: 1rem;
    overflow: hidden;
    
    img {
      border-radius: 1rem;
    }
  }

  article {
    flex: 0 1 auto;
    margin-left: 1rem;

    time {
      font-size: 0.8125rem;
    }

    h3 {
      font-size: 1.1875rem;
      font-weight: 800;
      color: variables.$color-blue-500;
    
      margin: 0.75rem 0;
    }

    p {
      font-size: 0.875rem;
      color: variables.$color-black-500;
    }

    p.read-more {
      font-size: 0.6875rem;
      font-weight: 900;
      color: variables.$color-red-500;
    
      margin-top: 0.75rem;
    }
  }
}