@use '../utils/_variables';

footer {
  padding: 3.2rem 9rem;
  margin-top: 150px;
  background: variables.$color-gray-100;

  & > div {
    display: flex;
    margin-top: 2rem;
  }

  .footer-column {
    margin-right: 5rem;

    h2 {
      font-size: 1.2rem;
      color: variables.$color-blue-700;
    }

    & > div {
      display: flex;
      align-items: center;
    
      margin-top: 1rem;
    }
    
    div + p {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      font-weight: 600;
      margin-left: 1rem;
    }
  }


  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 36px;
    width: 36px;
    border-radius: 0.5rem;
    background: variables.$color-blue-400;
  
    color: variables.$color-white;

    span {
      font-size: 20px;
      font-weight: 100;
    }
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    min-height: 36px;
    min-width: 36px;
    border-radius: 0.75rem;
    background: variables.$color-white;
  
    overflow: hidden;

    & > span{
      font-size: 11px;
      font-weight: variables.$font-black;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    
      padding: 2px 0;
      background: variables.$color-red-500;

      span {
        font-size: 9px;
        font-weight: variables.$font-black;
        letter-spacing: 1px;
        color: variables.$color-white;
      }
    }
  }

  ul {
    margin-top: 1rem;
    list-style: none;
  }

  li {
    font-size: 0.8125rem;
    font-weight: variables.$font-semi-bold;
    
    margin-top: 0.5rem;

    &::before {
      content: "\2022";
      color: variables.$color-red-500;
      font-weight: variables.$font-bold;
      display: inline-block; 
      width: 1em;
    }
  }
  
  strong {
    font-weight: variables.$font-extra-bold;;
  }

  .foot {
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 10px;
      font-weight: variables.$font-semi-bold;;;
    }
  }
  .tier-logo {
    width: 36px;
    height: 36px;
  }
}