@use '../utils/_variables';

header {
  max-width: 1440px;
  height: 6.5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 160px;
    height: 55px;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      font-size: 0.9375rem;
      line-height: 1.25rem;
      font-weight: variables.$font-bold;

      padding: 0 1.05rem;
    }
  }

  button {
    font-size: 0.6875rem;
    font-weight: variables.$font-black;
    letter-spacing: 1px;

    height: 2.5rem;
    padding: 0 1.55rem;
  
    background: variables.$color-blue-500;
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }
  .select-wrapper {
    position: relative;
    color: variables.$color-gray-500;

    overflow:hidden;

    width: 30px;
    height: 30px;
  
    font-size: 0.5625rem;
    // font-weight: variables.$font-bold;
  
    border: 1px solid variables.$color-gray-500;
    border-radius: 50%;
    // background: variables.$color-white;
    margin-left: 0.5rem;

    select {
      position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      top: 0;
      left: 2px;
      border:0px;
      outline:none;
      cursor: pointer;
      height: 30px;
      width: 50px;

      option {
        width: 30px;
      }
    }
  }
}