@use '../utils/_variables';
@use "sass:math";

section#services {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background: variables.$color-blue-600;

  .services-carousel {
    margin-top: 150px;
    z-index: 2;

    h1 {
      font-size: 6.25rem;
      font-weight: variables.$font-black;
      color: variables.$color-blue-700;
    }

    p {
      font-size: 0.9375rem;
      font-weight: variables.$font-black;
      color: variables.$color-white;
    
      margin-left: 15px;
      // margin-top: 20px;
    }
  }
  
  .carousel-container {
    display: flex;
    align-items: center;

    input {
      display: none;
    }
    
    label {
      color: variables.$color-white;
      cursor: pointer;
      
      display: none;
      // display: flex;
      align-items: center;
      justify-content: center;
      
      height: 40px;
      width: 40px;
      background: variables.$color-blue-700;
      
      border-radius: 0.5rem;
      transition: filter 0.2s;

      // & + label  {
      //   margin-top: 1rem;
      // }
  
      &:hover {
        filter: brightness(0.9);
      }

      // span {
      //   font-size: 32px;
      // }
    }
  }

  $num-of-slide: 3;
  .slider-container {
    height: 550px;
    width: 1100px;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
  } 
  .slide-items {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: percentage($num-of-slide);
    transition: top 0.5s;
  }

  .img-container {
    position: relative;
    height: percentage(math.div(1, $num-of-slide));

    img {
      max-width: 1100px;
      max-height: 500px;
      width: 100%;
      border-radius: 1rem;
    }

    h1 {
      position: absolute;
      bottom: -18px;
      left: 10px;

      opacity: 0;

      background: linear-gradient(transparent 50%, variables.$color-white 50%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: variables.$color-white;

      transition: opacity 1s ease-out 0.6s;
    }
  }


  
  @for $i from 1 through $num-of-slide {
    #slide#{$i}:checked {
      & ~ .slider-container .slide-items {
        top: percentage(1 - $i);
      }
      & ~ .slider-container .slide-items .img-container:nth-child(#{$i}) > h1 {
        opacity: 1;
      }
    }
  }
  @for $i from 1 through ($num-of-slide - 1) {
    #slide#{$i}:checked {
      & ~ .arrows-container label:nth-child(#{$i + 1}) {
        display: flex;
      }
    }
  }
  #slide#{$num-of-slide}:checked ~ .arrows-container label:nth-child(1) {
    display: flex;
  }
  @for $i from 2 through $num-of-slide {
    #slide#{$i}:checked {
      & ~ .arrows-container label:nth-child(#{$i - 1}) {
        display: flex;
      }
    }
  }
  #slide#{1}:checked ~ .arrows-container label:nth-child(#{$num-of-slide}) {
    display: flex;
  }







  .arrows-container {
    display: flex;
    flex-direction: column;
  
    margin-left: 1rem;
  }












  .clients-opinions {
    width: 100%;
    text-align: center;
    
    padding: 0 2rem;
    margin-top: 2rem;
  
    z-index: 20;

    h1 {
      font-size: 2rem;
      font-weight: variables.$font-extra-bold;
      color: variables.$color-yellow-500;
    
      margin-bottom: 2rem;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .main-avatar {
    margin-bottom: -60px;
  }

  .opinion-container {
    max-width: 550px;
    padding: 5rem 2.5rem 2rem;
  
    border-radius: 1rem;
  
    background: variables.$color-gray-100;

    p {
       font-size: 0.9375rem;
       line-height: 1.5625rem;
       color: variables.$color-blue-500;
     }

     .client-name {
      font-weight: variables.$font-black;
      margin-top: 1rem;
    }
  }
  

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow: hidden;
    margin: -5px;
    z-index: 10;
  }
  .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    overflow: hidden;
    margin: -5px;
    z-index: 10;
  }

  #dotted {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;
  
    background-image: url('../../public/img/grade.png');
  }
}



