section#hero {
  position: relative;
}
section#hero .img-container {
  position: relative;
  height: 550px;
  overflow: hidden;
  border-radius: 1.5625rem;
}
section#hero .img-background {
  position: absolute;
  bottom: -50px;
  transform: scaleX(-1);
  width: 100%;
  border-radius: 1.5625rem;
}
section#hero form {
  position: absolute;
  right: 40px;
  top: 130px;
  display: flex;
  flex-direction: column;
  width: 410px;
  border-radius: 1rem;
  padding: 0 2rem;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 24px -12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
section#hero form h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  color: #024282;
  margin: 2.5rem 0;
}
section#hero .input-container {
  position: relative;
}
section#hero .input-container + div {
  margin-top: 1.5625rem;
}
section#hero .input-container span {
  position: absolute;
  top: -8px;
  left: 18px;
  color: #024282;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0 0.25rem;
  background-color: #FFFFFF;
  z-index: 10;
}
section#hero input[type=text],
section#hero input[type=email],
section#hero input[type=tel] {
  height: 3.125rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 0.75rem;
  border: 1px solid #024282;
  border-radius: 0.65rem;
  transition: box-shadow 0.3s;
}
section#hero input[type=text]:-webkit-autofill, section#hero input[type=text]:-webkit-autofill:hover, section#hero input[type=text]:-webkit-autofill:focus,
section#hero input[type=email]:-webkit-autofill,
section#hero input[type=email]:-webkit-autofill:hover,
section#hero input[type=email]:-webkit-autofill:focus,
section#hero input[type=tel]:-webkit-autofill,
section#hero input[type=tel]:-webkit-autofill:hover,
section#hero input[type=tel]:-webkit-autofill:focus {
  box-shadow: inset 0 0 0px 9999px #FFFFFF;
  -webkit-box-shadow: inset 0 0 0px 9999px #FFFFFF;
}
section#hero input[type=text]:focus,
section#hero input[type=email]:focus,
section#hero input[type=tel]:focus {
  outline: none;
  box-shadow: 0 0 3px 0 #024282;
}
section#hero select {
  font-size: 0.75rem;
  font-weight: 800;
  color: #9AB3CD;
  height: 3.125rem;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 1.5625rem;
  border: 1px solid #024282;
  border-radius: 0.65rem;
  transition: box-shadow 0.3s;
}
section#hero select:focus {
  outline: none;
  box-shadow: 0 0 3px 0 #024282;
}
section#hero select option {
  font-size: 1rem;
}
section#hero .checkbox-container {
  display: block;
  position: relative;
  font-size: 0.75rem;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding-left: 26px;
  margin-top: 1.5625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section#hero .checkbox-container a {
  text-decoration: underline;
}
section#hero .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
section#hero .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #212121;
  transition: background 0.2s;
}
section#hero .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
section#hero .checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
section#hero .checkbox-container:hover input ~ .checkmark {
  background: #e6e6e6;
}
section#hero .checkbox-container input:checked ~ .checkmark {
  background-color: #024282;
}
section#hero .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
section#hero button[type=submit] {
  height: 3.125rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 1.5625rem 0 2.5rem;
  background: #C4161C;
}
section#hero .providers-container {
  width: 55%;
  margin-left: 2rem;
  margin-top: 2rem;
}
section#hero .providers-container p {
  font-size: 0.8125rem;
  font-weight: 600;
}
section#hero .square {
  height: 4.375rem;
  width: 6.25rem;
  background-color: #E8F4FF;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 2));
  }
}
section#hero .slider {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
}
section#hero .slider::before, section#hero .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 5;
}
section#hero .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
section#hero .slider::before {
  left: 0;
  top: 0;
}
section#hero .slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(150px * 6);
}
section#hero .slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

/*# sourceMappingURL=heroSection.css.map */
