$color-white: #FFFFFF;
$color-gray-500: #323232;
$color-black-500: #212121;
$color-gray-100: #E8F4FF;
$color-gray-200: #9AB3CD;
$color-red-500: #C4161C;
$color-yellow-500: #F4B60E;
$color-blue-400: #71A7D8;
$color-blue-500: #024282;
$color-blue-600: #002E5C;
$color-blue-700: #002245;

$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;